<% provide(:title, 'Home') %>
<div class="center hero-unit">
<h1>Seleclothes</h1>
<h2>Sign Up Now!</h2>
<%= link_to "For User", new_user_registration_path, class: "btn btn-large btn-primary" %>
<%= link_to "For Designer", new_designer_registration_path, class: "btn btn-large btn-primary" %>
<!--<%= link_to "For Company", "#", class: "btn btn-large btn-primary" %>-->
<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div></div>
